*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.logo{
    vertical-align: middle;
    width: 130px;
}

.header{
    font-size: 100px;
    background-color: white;
}

body{
    background-color: grey;
}