*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.logo{
    vertical-align: middle;
    margin: 20px 20px;
    height: 90px;
}

.header{
    background-color: white;
}
   
.titolo{
    font-size: 70px;
    vertical-align: middle;
}

body{
    background-color: rgb(246, 248, 249);
}

.contenitore{
    margin: 0 auto;
    margin-top: 50px;
    background-color: white;
    height: 800px;
    max-width: 1300px;
    border-radius: 10px;
}

.barra-bottoni{
    border-bottom: 3px solid rgb(246, 248, 249);
    margin-bottom: 40px;
}

.task{
    display: inline-block;
    background-color: rgb(71, 173, 241);
    color: white;
    padding: 10px;
    margin: 15px 15px;
    margin-left: 80px;
    border-radius: 10px;
}

.section{
    display: inline-block;
    border: 2px solid;
    padding: 10px;
    color: rgba(1,1,1,0.3);
    border-radius: 10px;
}

.menu{
    font-size: 25px;
    padding-left: 80px;
}

.editorial{
    background-color: rgb(71, 173, 241);
    padding: 8px;
    color: white;
    border-radius: 15px;
    font-size: 20px;
    margin-left: 10px;
}

.goals{
    background-color:rgb(156, 114, 228);
    padding: 8px;
    color: white;
    border-radius: 15px;
    font-size: 20px;
    margin-left: 10px;
}

.recruiting{
    background-color:rgb(100, 192, 169);
    padding: 8px;
    color: white;
    border-radius: 15px;
    font-size: 20px;
    margin-left: 10px;
}

.mobile{
    background-color:rgb(242, 158, 51);
    padding: 8px;
    color: white;
    border-radius: 15px;
    font-size: 20px;
    margin-left: 10px;
}

.website{
    background-color:rgb(216, 99, 161);
    padding: 8px;
    color: white;
    border-radius: 15px;
    font-size: 20px;
    margin-left: 10px;
}

.sales{
    background-color:rgb(176, 201, 38);
    padding: 8px;
    color: white;
    border-radius: 15px;
    font-size: 20px;
    margin-left: 10px;
}

.menu p{
    padding-bottom: 20px;
    padding-left: 10px;
}

strong{
    margin-bottom: 30px;
    font-size: 30px;
}

.check{
    border: 1px solid green;
    border-radius: 50%;
    color: green;
    font-size: 10px;
    padding: 5px;
    margin-right: 10px;
}

.cross{
    border: 1px solid red;
    border-radius: 50%;
    color: red;
    font-size: 10px;
    padding: 5px;
    margin-right: 10px;
}

ul{
    list-style-type:none;
}