*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.logo{
    vertical-align: middle;
    width: 130px;
}

.header{
    font-size: 100px;
    background-color: white;
}

body{
    background-color: grey;
}

.contenitore{
    margin: 80px 150px 80px 150px;
    background-color: white;
}

.barra-bottoni{
    border-bottom: 3px solid;
    margin-bottom: 40px;
}

.task{
    display: inline-block;
    background-color: cyan;
    padding: 10px;
    margin: 15px 15px;
    margin-left: 50px;
}

.section{
    display: inline-block;
    border: 2px solid;
    padding: 10px;
    opacity: 0,5;
    border-radius: 3px;
}

.menu{
    font-size: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.editorial{
    background-color: blue;
    padding: 8px;
    color: white;
    border-radius: 15px;
    font-size: 15px;
    margin-left: 10px;
}

.goals{
    background-color:purple;
    padding: 8px;
    color: white;
    border-radius: 15px;
    font-size: 15px;
    margin-left: 10px;
}

.recruiting{
    background-color:green;
    padding: 8px;
    color: white;
    border-radius: 15px;
    font-size: 15px;
    margin-left: 10px;
}

.mobile{
    background-color:orange;
    padding: 8px;
    color: white;
    border-radius: 15px;
    font-size: 15px;
    margin-left: 10px;
}

.website{
    background-color:palevioletred;
    padding: 8px;
    color: white;
    border-radius: 15px;
    font-size: 15px;
    margin-left: 10px;
}

.sales{
    background-color:greenyellow;
    padding: 8px;
    color: white;
    border-radius: 15px;
    font-size: 15px;
    margin-left: 10px;
}

.menu p{
    margin-bottom: 20px;
}